:root {
  --bg-color: #f5f6fa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 1rem;
  font-family: 'Rubik', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

button, input {
  display: block;
  font-size: 1rem;
}

.container {
  background-color: var(--bg-color);
}
